<div class="header">
  <div class="container">
    <div class='nav-links main-menu'>
      <%= link_to "Home", root_path %>
      <%= link_to "About", pages_about_path %>
      <%= link_to "Contact", pages_contact_path %>
      <%= link_to "Admission", pages_admission_path %>
      <%= link_to "Resources", pages_resources_path %>
      <%= link_to "Testing", testings_path %>
    </div>
      <div class='logo'>
        <%= image_tag "logo.png", width: 350, alt: "logo", class: 'logo' %>
      </div>
  </div>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

