<div class="header">
  <div class="container-fluid">
    <div class='logo'>
        <%= image_tag "logo.png", width: 350, alt: "logo", class: 'logo' %>
      </div>
    <div class='nav-links main-menu'>
      <%= link_to "Home", root_path %>
      <%= link_to "About", pages_about_path %>
      <%= link_to "Contact", pages_contact_path %>
      <%= link_to "Admission", pages_admission_path %>
      <%= link_to "Resources", pages_resources_path %>
      <%= link_to "Testing", pages_test_path %>
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Register", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>

    </div>
  </div>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

