
<div class="head-nav">
  <div class='nav-links'>
    <%= link_to "Home", root_path %>
    <%= link_to "About", pages_about_path %>
    <%= link_to "Contact", pages_contact_path %>
    <%= link_to "Admission", pages_admission_path %>
    <%= link_to "Resources", pages_resources_path %>
    <%= link_to "Testing", testings_path %>
  </div>
    <div class='logo'>
      <%= image_tag "logo.png", width: 350, alt: "logo", class: 'logo' %>
    </div>
  </div>