
<div class="card-deck">
  <div class="card">
    <div class='profile-img'>
      <%= image_tag "kelly.jpeg", alt: "profile-image", class: 'profile-img' %>
      <div class="card-block">
        <h4 class="card-title"><p>Kelly Tate,</p> Director/Dyslexia Tutor</h4>
          <p class="lead"><%= link_to "Meet Kelly", pages_kelly_path, class: "btn btn-lg btn-secondary" %></p>
          <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
<div class="card">
  <div class='profile-img'>
    <%= image_tag "kelly.jpeg", alt: "profile-image", class: 'profile-img' %>
    <div class="card-block">
      <h4 class="card-title"><p>Dawn Ella Tate,</p> Dyslexia Tutor</h4>
        <p class="lead">
        <%= link_to "Meet dawn", pages_dawn_path, class: "btn btn-lg btn-secondary" %></p>
        <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>

<div class="card">
  <div class='profile-img'>
  <%= image_tag "kelly.jpeg", alt: "profile-image", class: 'profile-img' %>
    <div class="card-block">
      <h4 class="card-title"><p>Sarah Adams,</p> Dyslexia Tutor</h4>
        <p class="lead">
        <%= link_to "Meet Sarah", pages_dawn_path, class: "btn btn-lg btn-secondary" %></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>

<div class="card">
  <div class='profile-img'>
    <%= image_tag "kelly.jpeg", alt: "profile-image", class: 'profile-img' %>
    <div class="card-block">
      <h4 class="card-title"><p>Zuri Lorscheider,</p> Dyslexia Tutor</h4>
        <p class="lead">
          <%= link_to "Meet Zuri", pages_dawn_path, class: "btn btn-lg btn-secondary" %></p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>


